[data-section-theme="dark"] {
  --text-color: var(--color-white);
  --section-title-color: var(--color-white);
  background: var(--color-black);
}
.footer-address {
  color: var(--text-color);
}

.social-link {
  display: block;
}

.footer .social-link svg {
  fill: var(--text-color);
}