[data-section-theme="dark"] .footer-address,
[data-section-theme="dark"] .social-link svg {
  color: var(--text-color); /* address için */
  fill: var(--text-color);  /* svg için */
}

.social-link {
  display: block;
}